:root {
    --blue: #081F5C;
    --blue-hover: #081F5C70;
    --gold: #D6C774;
    --gold-hover: #D6C77470;
    --white: #FFFFFF;
    --black: #000000;
    --white-hover: #F0F0F080;
    --text-hover: #2E3C4E;
    --text-primary: #121922;
    --text-secondary: #B4BDC7;
    --text-white-hover: #F0F0F050;
    --bg-grey-white: #FAFAFA;
    --text-text-500: rgba(0, 17, 34, 0.95);
    --status-neutral-50: rgba(97, 131, 162, 0.10);
    --text-text-300: rgba(0, 17, 34, 0.66);
    --modals-bg-color: #2A353F60;
}

@keyframes pulse-play {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes pulsing {
    0% {
        transform: scale(0.33);
    }
    100% {
        opacity: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-grey-white);: ;
    background-image: url("./images/advisory_page/main_bg.png");
}

textarea:focus, input:focus{
    outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    transition: background-color .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.button_large {
    padding: 18px 24px;
    border-radius: 12px;
}

.button_medium {
    padding: 14px 24px;
    border-radius: 10px;
}

.button_small {
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.button_primary {
    background-color: var(--blue);
    color: var(--white);
}

.button_primary:hover {
    background-color: var(--blue-hover);
    color: var(--white);
}

.button_white {
    background-color: var(--white);
    color: var(--blue);
}

.button_white:hover {
    background-color: var(--white-hover);
    color: var(--blue);
}

.button_gold {
    background-color: var(--gold);
    color: var(--white);
}

.button_gold:hover {
    background-color: var(--gold-hover);
    color: var(--white);
}

.font_head_xxxl {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0.4px;
}

.font_head_xxl {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.4px;
}

.font_head_xl {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.font_head_l {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.font_head_m {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.font_body_xl {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.font_body_l {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.font_body_m {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.font_caption {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.font_bold {
    font-weight: 600;
}

.mobile_only {
    display: none;
}

.menu {
    height: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1216px;
    z-index: 10;
}

.menu_logo {
    width: 120px;
}

.menu_block {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;

    transition: background-color .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_items {
    display: flex;
    gap: 32px
}

.menu_item {
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;;
    color: var(--white);
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.menu_item_active {
    color: var(--gold);
}

.menu_item:hover {
    color: var(--white-hover);
}

.menu_item:active {
    color: var(--gold);
}

.block {
    max-width: 1216px;
    margin: auto;
}

.centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #1E3569;
    color: var(--white);
    min-height: 580px;
    background-image: url("./images/advisory_page/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .block .title {
    text-align: center;
    margin-top: 154px;
    margin-bottom: 34px;
}

header .block .title_text {
    text-align: center;
    margin-bottom: 34px;
}

.white_block {
    padding: 40px 40px 60px;
    border-radius: 16px;
    background-color: var(--white);
}

.merger {
    position: inherit;
    top: -30px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.merger_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.merger_title {
    text-align: center;
}

.merger_info_img {
    border-radius: 12px;
    width: 488px;
}

.merger_items {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-column-gap: 30px;
    overflow: auto;
}

.merger_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.merger_item_rectangle {
    width: 32px;
    height: 32px;
    background-color: var(--text-secondary);
}

.merger_item_name {
    width: fit-content;
}

.merger_item_name_separator {
    margin-top: 4px;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--gold);
}

.debt_transitions {
    background: no-repeat url("./images/advisory_page/debt_transitions_bg.png") center center;
    background-size: cover;
    margin-bottom: 40px;
}

.debt_transitions_header {
    color: var(--white);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 40px;
}

.debt_transitions_content {
    display: flex;
    gap: 61px;
}

.debt_transitions_content_items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 24px;
}

.debt_transitions_content_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.debt_transitions_content_item_rectangle {
    width: 32px;
    height: 32px;
    background-color: var(--text-secondary);
}

.debt_transitions_content_item_name {
    color: var(--white);
}

.debt_transitions_content_item_text {
    display: flex;
    color: var(--text-secondary);
    flex-direction: column;
    gap: 12px;
}


.debt_transitions_chart {
    width: 443px;
    margin-bottom: 32px;
}

.debt_transitions_chart_text {
    color: var(--white);
}

.capital_markets {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 40px 60px;
    margin-bottom: 70px;
}

.capital_markets_header {
    color: var(--text-primary);
    text-align: center;
}

.capital_markets_content {
    display: flex;
    gap: 40px;
}

.capital_markets_img {
    background: no-repeat url("./images/advisory_page/capital_markets.jpg") center center;
    background-size: cover;
    border-radius: 12px;
    min-width: 400px;
}

.capital_markets_content_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.capital_markets_content_info_text {
    color: var(--text-primary);
}

.capital_markets_content_info_items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.capital_markets_content_info_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.capital_markets_content_info_item_name {
    color: var(--blue);
}

.capital_markets_content_info_item_text {
    color: var(--text-hover);
}

.capital_structure {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background: var(--blue);
    margin-bottom: 70px;
}

.capital_structure_header {
    color: var(--white);
    text-align: center;
}

.capital_structure_content {
    width: 100%;
    display: flex;
    gap: 82px;
}

.capital_structure_info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.capital_structure_info_text {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.capital_structure_info_items {
    display: flex;
    gap: 24px;
}

.capital_structure_info_item_wrapper {
    border-radius: 12px;
    background: linear-gradient(180deg, #FAF5D9, #A49337);
    display: flex;
}

.capital_structure_info_item {
    display: flex;
    padding: 16px;
    flex-direction: column;
    margin: 1px;
    gap: 12px;
    border-radius: 12px;
    background: linear-gradient(180deg, #3F5494 0%, #303785 100%);
    color: var(--white);
}

.capital_structure_info_item ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-inline-start: 22px;
}

.capital_structure_img {
    border-radius: 12px;
    background-image: url("./images/advisory_page/capital_structure.png");
    background-size: cover;
    background-position: center center;
    min-width: 350px;
}



.strategy {
    position: inherit;
    top: -30px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.strategy_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.strategy_title {
    text-align: center;
}

.strategy_info_img {
    border-radius: 12px;
    width: 350px;
}

.strategy_info_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.strategy_items {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-column-gap: 30px;
    overflow: auto;
}

.strategy_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.strategy_item_rectangle {
    width: 32px;
    height: 32px;
    background-color: var(--text-secondary);
}

.strategy_item_name {
    width: fit-content;
}

.strategy_item_name_separator {
    margin-top: 4px;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--gold);
}

footer {
    background-color: var(--white);
}

.footer_block {
    background-color: transparent;
    display: flex;
    padding: 29px 20px 7px;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.footer_logo {
    width: 223px;
    height: 80px;
    margin-bottom: 40px;
}

.footer_map {
    position: relative;
}

.footer_map_image {
    display: block;
    width: 100%;
    height: 100%;
}

.footer_map_city_wrapper {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.footer_map_city_name {
    color: var(--black)
}

.footer_map_city_dot_wrapper {
    position: relative;
    width: 25px;
    height: 25px;
}

.footer_map_city_dot {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: var(--blue);
    border-radius: 50%;
}

.footer_map_city_dot_animate {
    width: 25px;
    height: 25px;
    background-color: var(--blue);
    border-radius: 50%;

    animation: pulsing 1s infinite running;
}

@media (min-width: 866px) {
    .mobile_only {
        display: none !important;
    }
}

@media (max-width: 865px) {
    body {
        background-image: none;
    }

    button {
        width: 100% !important;
    }

    .pc_only {
        display: none;
    }

    .mobile_only {
        display: inherit;
    }

    header {
        padding: 0 16px;
    }

    header .centered a {
        width: 100%;
    }

    header .block .title {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 20px;
    }

    header .block .title_text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 32px;
    }

    .menu {
        padding: 0 16px;
    }

    .mobile_menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--blue);
        z-index: 2;
        transform: translateX(100%);
        padding: 92px 16px 16px;
        transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile_menu.open {
        transform: translateX(0);
    }

    .menu_items_mobile {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .merger_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .merger_info {
        flex-direction: column;
    }

    .merger_info_img {
        width: 100%;
    }

    .merger_info_text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .merger_items {
        overflow: auto;
    }

    .merger_item_name {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .debt_transitions_content {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .debt_transitions_header {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .debt_transitions_chart {
        width: 100%;
    }

    .debt_transitions_content_items {
        display: flex;
        gap: 20px;
        overflow: auto;
    }

    .debt_transitions_content_item {
        min-width: 270px;
    }

    .capital_markets_content {
        flex-direction: column;
    }

    .capital_markets_img {
        height: 200px;
        min-width: 0;
    }

    .capital_markets_content_info_items {
        display: flex;
        gap: 20px;
        overflow: auto;
    }

    .capital_markets_content_info_item {
        min-width: 270px;
    }

    .capital_structure_content {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .capital_structure_img {
        min-width: 0;
        height: 200px;
    }

    .capital_structure_info_items {
        overflow: auto;
    }

    .capital_structure_info_item_wrapper {
        min-width: 270px
    }

    .strategy_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .strategy_info {
        flex-direction: column;
    }

    .strategy_info_img {
        width: 100%;
    }

    .strategy_info_text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .strategy_items {
        overflow: auto;
    }

    .strategy_item_name {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }





    .about_us {
        padding: 32px 16px;
    }

    .about_us_services {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .about_us_services_separator {
        display: none;
    }

    .about_us_service_name {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
    }

    .about_us_content {
        flex-direction: column;
    }

    .about_us_content_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .about_us_content_img {
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    .about_us_content_text .mobile_expanded_about_us_hide {
        height: 0;
        overflow: hidden;
    }

    .about_us_content_text .mobile_expand_about_us {
        overflow: hidden;
    }

    .advisory_business {
        padding: 0 16px;
    }

    .advisory_business_header {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px
    }

    .advisory_business_content_row {
        flex-direction: column;
        height: auto;
    }

    .advisory_business_content_element {
        width: auto !important;
    }

    .advisory_business_content_element_header {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
    }

    .advisory_business_content_element_icon {
        display: none;
    }

    .advisory_business_content_element_icon_bg {
        display: none;
    }

    .prometheus_text {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;

        margin: 40px auto;
        padding: 0 16px;
    }

    .our_principles {
        padding: 32px 16px;
    }


    .our_principles_content {
        height: auto;
        flex-direction: column;
    }

    .our_principles_header {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .our_principles_content_image_wrapper {
        position: initial;
    }

    .our_principles_content_image {
        position: initial;
    }

    .our_principles_content_left {
        width: 100%;
        padding-top: 30px;
        gap: 32px;
    }
    .our_principles_content_left .our_principles_content_item {
        gap: 8px;
    }

    .our_principles_content_left .our_principles_content_item:nth-child(2n) {
        text-align: right;
    }

    .our_principles_content_left .our_principles_content_item:nth-child(2n -1) {
        text-align: left;
        align-items: initial;
    }

    .our_principles_content_item_title {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .our_principles_content_item_line {
        width: 100% !important;
        background-color: var(--gold);
    }

    .our_principles_content_item_text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    .team {
        padding: 32px 24px
    }

    .team_list_item_avatar {
        width: 150px;
        height: 200px;
    }

    .team_list_item_name {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .our_projects {
        padding: 32px 16px;
    }

    .our_projects_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .our_projects_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .our_projects_list_item {
        height: 50px;
        padding: 0;
    }

    .our_projects_list_item img {
        transform: scale(0.6);
    }

    .form_block {
        height: auto;
    }

    .form_wrapper {
        width: 100%;
        z-index: 2;
    }

    .footer_block {
        flex-direction: column-reverse;
        margin-top: -88px;
        background-color: var(--bg-grey-white);
        overflow: hidden;
    }

    .footer_map {
        margin-top: -40px;
        margin-left: -30px;
        width: 170%;
    }

    .modal {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .team_modal_content_mobile {
        display: flex;
        flex-direction: column;
    }

    .team_modal_content_mobile_img_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    .team_modal_content_next_teammate {
        transform: rotate(180deg);
    }

    .team_modal_content_mobile_text_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        color: var(--white);
    }
}
