header {
    background-color: #1E3569;
    color: var(--white);
    min-height: 580px;
    background-image: url("./images/advisory_page/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .block .title {
    text-align: center;
    margin-top: 154px;
    margin-bottom: 34px;
}

header .block .title_text {
    text-align: center;
    margin-bottom: 34px;
}

.white_block {
    padding: 40px 40px 60px;
    border-radius: 16px;
    background-color: var(--white);
}

.merger {
    position: inherit;
    top: -30px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.merger_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.merger_title {
    text-align: center;
}

.merger_info_img {
    border-radius: 12px;
    width: 488px;
}

.merger_items {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-column-gap: 30px;
    overflow: auto;
}

.merger_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.merger_item_rectangle {
    width: 32px;
    height: 32px;
    background-color: var(--text-secondary);
}

.merger_item_name {
    width: fit-content;
}

.merger_item_name_separator {
    margin-top: 4px;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--gold);
}

.debt_transitions {
    background: no-repeat url("./images/advisory_page/debt_transitions_bg.png") center center;
    background-size: cover;
    margin-bottom: 40px;
}

.debt_transitions_header {
    color: var(--white);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 40px;
}

.debt_transitions_content {
    display: flex;
    gap: 61px;
}

.debt_transitions_content_items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 24px;
}

.debt_transitions_content_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.debt_transitions_content_item_rectangle {
    width: 32px;
    height: 32px;
    background-color: var(--text-secondary);
}

.debt_transitions_content_item_name {
    color: var(--white);
}

.debt_transitions_content_item_text {
    display: flex;
    color: var(--text-secondary);
    flex-direction: column;
    gap: 12px;
}


.debt_transitions_chart {
    width: 443px;
    margin-bottom: 32px;
}

.debt_transitions_chart_text {
    color: var(--white);
}

.capital_markets {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 40px 60px;
    margin-bottom: 70px;
}

.capital_markets_header {
    color: var(--text-primary);
    text-align: center;
}

.capital_markets_content {
    display: flex;
    gap: 40px;
}

.capital_markets_img {
    background: no-repeat url("./images/advisory_page/capital_markets.jpg") center center;
    background-size: cover;
    border-radius: 12px;
    min-width: 400px;
}

.capital_markets_content_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.capital_markets_content_info_text {
    color: var(--text-primary);
}

.capital_markets_content_info_items {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.capital_markets_content_info_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.capital_markets_content_info_item_name {
    color: var(--blue);
}

.capital_markets_content_info_item_text {
    color: var(--text-hover);
}

.capital_structure {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background: var(--blue);
    margin-bottom: 70px;
}

.capital_structure_header {
    color: var(--white);
    text-align: center;
}

.capital_structure_content {
    width: 100%;
    display: flex;
    gap: 82px;
}

.capital_structure_info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.capital_structure_info_text {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.capital_structure_info_items {
    display: flex;
    gap: 24px;
}

.capital_structure_info_item_wrapper {
    border-radius: 12px;
    background: linear-gradient(180deg, #FAF5D9, #A49337);
    display: flex;
}

.capital_structure_info_item {
    display: flex;
    padding: 16px;
    flex-direction: column;
    margin: 1px;
    gap: 12px;
    border-radius: 12px;
    background: linear-gradient(180deg, #3F5494 0%, #303785 100%);
    color: var(--white);
}

.capital_structure_info_item ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-inline-start: 22px;
}

.capital_structure_img {
    border-radius: 12px;
    background-image: url("./images/advisory_page/capital_structure.png");
    background-size: cover;
    background-position: center center;
    min-width: 350px;
}

.strategy {
    position: inherit;
    top: -30px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.strategy_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.strategy_title {
    text-align: center;
}

.strategy_info_img {
    border-radius: 12px;
    width: 350px;
}

.strategy_info_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.strategy_items {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-column-gap: 30px;
    overflow: auto;
}

.strategy_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.strategy_item_rectangle {
    width: 32px;
    height: 32px;
    background-color: var(--text-secondary);
}

.strategy_item_name {
    width: fit-content;
}

.strategy_item_name_separator {
    margin-top: 4px;
    height: 2px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--gold);
}

@media (max-width: 865px) {
    header {
        padding: 0 16px;
    }

    header .centered a {
        width: 100%;
    }

    header .block .title {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 20px;
    }

    header .block .title_text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 32px;
    }

    .merger_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .merger_info {
        flex-direction: column;
    }

    .merger_info_img {
        width: 100%;
    }

    .merger_info_text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .merger_items {
        overflow: auto;
    }

    .merger_item_name {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .debt_transitions_content {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .debt_transitions_header {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .debt_transitions_chart {
        width: 100%;
    }

    .debt_transitions_content_items {
        display: flex;
        gap: 20px;
        overflow: auto;
    }

    .debt_transitions_content_item {
        min-width: 270px;
    }

    .capital_markets_content {
        flex-direction: column;
    }

    .capital_markets_img {
        height: 200px;
        min-width: 0;
    }

    .capital_markets_content_info_items {
        display: flex;
        gap: 20px;
        overflow: auto;
    }

    .capital_markets_content_info_item {
        min-width: 270px;
    }

    .capital_structure_content {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .capital_structure_img {
        min-width: 0;
        height: 200px;
    }

    .capital_structure_info_items {
        overflow: auto;
    }

    .capital_structure_info_item_wrapper {
        min-width: 270px
    }

    .strategy_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .strategy_info {
        flex-direction: column;
    }

    .strategy_info_img {
        width: 100%;
    }

    .strategy_info_text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .strategy_items {
        overflow: auto;
    }

    .strategy_item_name {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }
}
