:root {
    --blue: #081F5C;
    --blue-hover: #081F5C70;
    --gold: #D6C774;
    --gold-hover: #D6C77470;
    --white: #FFFFFF;
    --black: #000000;
    --white-hover: #F0F0F080;
    --text-hover: #2E3C4E;
    --text-primary: #121922;
    --text-secondary: #B4BDC7;
    --text-white-hover: #F0F0F050;
    --bg-grey-white: #FAFAFA;
    --text-text-500: rgba(0, 17, 34, 0.95);
    --status-neutral-50: rgba(97, 131, 162, 0.10);
    --text-text-300: rgba(0, 17, 34, 0.66);
}

@keyframes pulse-play {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes pulsing {
    0% {
        transform: scale(0.33);
    }
    100% {
        opacity: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-grey-white);: ;
    background-image: url("./images/main_bg.png");
}

textarea:focus, input:focus{
    outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    transition: background-color .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.button_large {
    padding: 18px 24px;
    border-radius: 12px;
}

.button_medium {
    padding: 14px 24px;
    border-radius: 10px;
}

.button_small {
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.button_primary {
    background-color: var(--blue);
    color: var(--white);
}

.button_primary:hover {
    background-color: var(--blue-hover);
    color: var(--white);
}

.button_white {
    background-color: var(--white);
    color: var(--blue);
}

.button_white:hover {
    background-color: var(--white-hover);
    color: var(--blue);
}

.button_gold {
    background-color: var(--gold);
    color: var(--white);
}

.button_gold:hover {
    background-color: var(--gold-hover);
    color: var(--white);
}

.font_head_xxxl {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0.4px;
}

.font_head_xxl {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.4px;
}

.font_head_xl {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.4px;
}

.font_head_l {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.font_head_m {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.font_body_xl {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.font_body_l {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.font_body_m {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.font_caption {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.font_bold {
    font-weight: 600;
}

.mobile_only {
    display: none;
}

.menu {
    height: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1216px;
    z-index: 10;
}

.menu_logo {
    width: 120px;
}

.menu_block {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;

    transition: background-color .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_items {
    display: flex;
    gap: 32px
}

.menu_item {
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;;
    color: var(--white);
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.menu_item_active {
    color: var(--gold);
}

.menu_item:hover {
    color: var(--white-hover);
}

.menu_item:active {
    color: var(--gold);
}

.block {
    max-width: 1216px;
    margin: auto;
}

.centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #1E3569;
    color: var(--white);
    min-height: 580px;
    background-image: url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .block .title {
    text-align: center;
    margin-top: 154px;
    margin-bottom: 36px;
}

header .block .button {
    margin-top: 36px;
    width: 200px;
}

.white_block {
    padding: 40px 40px 60px;
    border-radius: 16px;
    background-color: var(--white);
}

.about_us {
    position: inherit;
    top: -30px;
    left: 0;
    right: 0;
}

.about_us_services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 32px;
}

.about_us_services_separator {
    width: 1px;
    height: 55px;
    align-self: stretch;
    background-color: var(--gold);
}

.about_us_service {
    display: flex;
    align-items: center;
    gap: 12px;
}

.about_us_service_img {
    width: 55px;
    height: 55px;
}

.about_us_service_name {
    color: var(--blue);

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.about_us_content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about_us_content_img {
    width: 467px;
    height: 526px;
    flex-shrink: 0;
    margin-left: 20px;
}

.about_us_content_text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.about_us_content_title {
    color: var(--blue);
    text-align: center;

    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
}

.about_us_content_text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-hover);
    font-size: 14px;
    line-height: 18px;
    max-width: 516px;
}

.advisory_business_header {
    color: var(--text-primary);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 40px;
}

.advisory_business_content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

.advisory_business_content_row {
    display: flex;
    height: 300px;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

.advisory_business_content_element {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 40px 32px;
    justify-content: space-between;
    align-self: stretch;
    border-radius: 12px;
    background-size: cover;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}
.advisory_business_content_element:hover {
    transform: scale(1.03);
}

.advisory_business_content_element_header {
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
}

.advisory_business_content_element_icon {
    position: absolute;
    bottom: 40px;
    left: 32px;
    width: 32px;
    height: 12px;
}

.advisory_business_content_element_icon_bg {
    position: absolute;
    bottom: 40px;
    right: 32px;
    width: 101px;
    height: 90px;
    background-size: cover;
    background-image: url("./images/advisory_business/icon_bg.png");
}

.prometheus_text {
    color: var(--text-secondary);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 1078px;
    margin: 70px auto;
}

.our_principles {
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 40px 80px;
    margin-bottom: 70px;
}

.our_principles_header {
    color: var(--blue);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.our_principles_content {
    position: relative;
    height: 544px;
    display: flex;
}

.our_principles_content_image_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_principles_content_image {
    position: absolute;
    height: 574px;
    animation: pulse-play 2s infinite;
}

.our_principles_content_left {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding-top: 85px;
    width: 50%;
    z-index: 2;
}

.our_principles_content_right {
    text-align: right;
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-top: 53px;
    width: 50%;
    z-index: 2;
}

.our_principles_content_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.our_principles_content_item_right {
    align-items: flex-end;
    width: 100%;
}

.our_principles_content_item_title {
    color: var(--blue);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.our_principles_content_item_text {
    color: var(--text-hover);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.our_principles_content_item_line {
    height: 2px;
    border-radius: 4px;
    background: var(--text-secondary);
}

.team {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-image: url("./images/team/team_bg.png");
    margin-bottom: 70px;
}

.team_title {
    color: var(--white);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.team_list {
    display: flex;
    gap: 32px;
    overflow: auto;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.team_list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.team_list_item_avatar {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-bottom: 20px;
}

.team_list_item_name {
    color: var(--white);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 8px;
}

.team_list_item_icon {
    width: 32px;
    height: 8px;
    color: var(--gold);
}

.our_projects {
    background-image: url("./images/out_projects/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    display: flex;
    padding: 40px 40px 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

.our_projects_title {
    color: var(--blue, #081F5C);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.our_projects_list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.our_projects_list_item {
    display: flex;
    height: 70px;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: var(--white);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.our_projects_list_item:hover {
    background-color: var(--white-hover);
    transform: scale(1.05);
}

.form_block {
    background-image: url("./images/form_bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 588px;
    border-radius: 24px;
    margin-bottom: 70px;
}

.form_wrapper {
    width: 384px;
    padding: 32px 32px 40px;
    background-color: var(--white);
    border-radius: 16px;
}

.form_title {
    color: var(--text-text-500);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 24px;
}
.form_wrapper form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    background: var(--status-neutral-50);
}

.input {
    display: block;
    flex: none;
    padding: 28px 16px 8px;
    background-color: transparent;
    appearance: none;
    border: none;
    outline: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input:focus + .input_label {
    transform: translate(16px, -16px);

    color: var(--text-text-300);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.input_label {
    position: absolute;
    top: 50%;
    left: 0;
    user-select: none;
    pointer-events: none;
    transform: translate(16px, -50%);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--text-text-300);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.input_label_active {
    transform: translate(16px, -16px);

    color: var(--text-text-300);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.form_hint {
    color: #00112256;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.form_hint_clicked {
    color: var(--blue);
    cursor: pointer;
}

footer {
    background-color: var(--white);
}

.footer_block {
    background-color: transparent;
    display: flex;
    padding: 29px 20px 7px;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.footer_logo {
    width: 223px;
    height: 80px;
    margin-bottom: 40px;
}

.footer_map {
    position: relative;
}

.footer_map_image {
    display: block;
    width: 100%;
    height: 100%;
}

.footer_map_city_wrapper {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.footer_map_city_name {
    color: var(--black)
}

.footer_map_city_dot_wrapper {
    position: relative;
    width: 25px;
    height: 25px;
}

.footer_map_city_dot {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: var(--blue);
    border-radius: 50%;
}

.footer_map_city_dot_animate {
    width: 25px;
    height: 25px;
    background-color: var(--blue);
    border-radius: 50%;

    animation: pulsing 1s infinite running;
}

@media (min-width: 866px) {
    .mobile_only {
        display: none !important;
    }
}

@media (max-width: 865px) {
    body {
        background-image: none;
    }

    button {
        width: 100% !important;
    }

    .pc_only {
        display: none;
    }

    .mobile_only {
        display: inherit;
    }

    header {
        padding: 0 16px;
    }

    header .centered a {
        width: 100%;
    }

    .menu {
        padding: 0 16px;
    }

    .mobile_menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--blue);
        z-index: 2;
        transform: translateX(100%);
        padding: 92px 16px 16px;
        transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile_menu.open {
        transform: translateX(0);
    }

    .menu_items_mobile {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    .about_us {
        padding: 32px 16px;
    }

    .about_us_services {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .about_us_services_separator {
        display: none;
    }

    .about_us_service_name {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
    }

    .about_us_content {
        flex-direction: column;
    }

    .about_us_content_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .about_us_content_img {
        margin-left: 0;
        width: 100%;
        height: auto;
    }

    .about_us_content_text .mobile_expanded_about_us_hide {
        height: 0;
        overflow: hidden;
    }

    .about_us_content_text .mobile_expand_about_us {
        overflow: hidden;
    }

    .advisory_business {
        padding: 0 16px;
    }

    .advisory_business_header {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px
    }

    .advisory_business_content_row {
        flex-direction: column;
        height: auto;
    }

    .advisory_business_content_element {
        width: auto !important;
    }

    .advisory_business_content_element_header {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
    }

    .advisory_business_content_element_icon {
        display: none;
    }

    .advisory_business_content_element_icon_bg {
        display: none;
    }

    .prometheus_text {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;

        margin: 40px auto;
        padding: 0 16px;
    }

    .our_principles {
        padding: 32px 16px;
    }


    .our_principles_content {
        height: auto;
        flex-direction: column;
    }

    .our_principles_header {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .our_principles_content_image_wrapper {
        position: initial;
    }

    .our_principles_content_image {
        position: initial;
    }

    .our_principles_content_left {
        width: 100%;
        padding-top: 30px;
        gap: 32px;
    }
    .our_principles_content_left .our_principles_content_item {
        gap: 8px;
    }

    .our_principles_content_left .our_principles_content_item:nth-child(2n) {
        text-align: right;
    }

    .our_principles_content_left .our_principles_content_item:nth-child(2n -1) {
        text-align: left;
        align-items: initial;
    }

    .our_principles_content_item_title {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .our_principles_content_item_line {
        width: 100% !important;
        background-color: var(--gold);
    }

    .our_principles_content_item_text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    .team {
        padding: 32px 24px
    }

    .team_list_item_avatar {
        width: 150px;
        height: 200px;
    }

    .team_list_item_name {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
    }

    .our_projects {
        padding: 32px 16px;
    }

    .our_projects_title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    .our_projects_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .our_projects_list_item {
        height: 50px;
        padding: 0;
    }

    .our_projects_list_item img {
        transform: scale(0.6);
    }

    .form_block {
        height: auto;
    }

    .form_wrapper {
        width: 100%;
        z-index: 2;
    }

    .footer_block {
        flex-direction: column-reverse;
        margin-top: -88px;
        background-color: var(--bg-grey-white);
        overflow: hidden;
    }

    .footer_map {
        margin-top: -40px;
        margin-left: -30px;
        width: 170%;
    }
}
