:root {
    --blue: #081F5C;
    --blue-hover: #081F5C70;
    --gold: #D6C774;
    --gold-hover: #D6C77470;
    --white: #FFFFFF;
    --black: #000000;
    --white-hover: #F0F0F080;
    --text-hover: #2E3C4E;
    --text-primary: #121922;
    --text-secondary: #B4BDC7;
    --text-white-hover: #F0F0F050;
    --bg-grey-white: #FAFAFA;
    --text-text-500: rgba(0, 17, 34, 0.95);
    --status-neutral-50: rgba(97, 131, 162, 0.10);
    --text-text-300: rgba(0, 17, 34, 0.66);
    --modals-bg-color: #2A353F60;
}

@keyframes pulsing {
    0% {
        transform: scale(0.33);
    }
    100% {
        opacity: 0;
    }
}

body {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     background-color: var(--bg-grey-white);: ;
     background-image: url("./images/advisory_page/main_bg.png");
 }

textarea:focus, input:focus{
    outline: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    transition: background-color .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.button_large {
    padding: 18px 24px;
    border-radius: 12px;
}

.button_medium {
    padding: 14px 24px;
    border-radius: 10px;
}

.button_small {
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.button_primary {
    background-color: var(--blue);
    color: var(--white);
}

.button_primary:hover {
    background-color: var(--blue-hover);
    color: var(--white);
}

.button_white {
    background-color: var(--white);
    color: var(--blue);
}

.button_white:hover {
    background-color: var(--white-hover);
    color: var(--blue);
}

.button_gold {
    background-color: var(--gold);
    color: var(--white);
}

.button_gold:hover {
    background-color: var(--gold-hover);
    color: var(--white);
}

.font_head_xxxl {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0.4px;
}

.font_head_xxl {
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.4px;
}

.font_head_xl {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.font_head_l {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.font_head_m {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.font_body_xl {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.font_body_l {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.font_body_m {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.font_caption {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.font_bold {
    font-weight: 600;
}

.mobile_only {
    display: none;
}

.menu {
    height: 64px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1216px;
    z-index: 10;
}

.menu_logo {
    width: 120px;
}

.menu_block {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;

    transition: background-color .5s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_items {
    display: flex;
    gap: 32px
}

.menu_item {
    transition: color .5s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;;
    color: var(--white);
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.menu_item_active {
    color: var(--gold);
}

.menu_item:hover {
    color: var(--white-hover);
}

.menu_item:active {
    color: var(--gold);
}

.block {
    max-width: 1216px;
    margin: auto;
}

.centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    background-color: var(--white);
}

.footer_block {
    background-color: transparent;
    display: flex;
    padding: 29px 20px 7px;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.footer_logo {
    width: 223px;
    height: 80px;
    margin-bottom: 40px;
}

.footer_map {
    position: relative;
}

.footer_map_image {
    display: block;
    width: 100%;
    height: 100%;
}

.footer_map_city_wrapper {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.footer_map_city_name {
    color: var(--black)
}

.footer_map_city_dot_wrapper {
    position: relative;
    width: 25px;
    height: 25px;
}

.footer_map_city_dot {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: var(--blue);
    border-radius: 50%;
}

.footer_map_city_dot_animate {
    width: 25px;
    height: 25px;
    background-color: var(--blue);
    border-radius: 50%;

    animation: pulsing 1s infinite running;
}

@media (min-width: 866px) {
    .mobile_only {
        display: none !important;
    }
}

@media (max-width: 865px) {
    body {
        background-image: none;
    }

    button {
        width: 100% !important;
    }

    .pc_only {
        display: none !important;
    }

    .mobile_only {
        display: inherit;
    }

    .menu {
        padding: 0 16px;
    }

    .mobile_menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--blue);
        z-index: 2;
        transform: translateX(100%);
        padding: 92px 16px 16px;
        transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile_menu.open {
        transform: translateX(0);
    }

    .menu_items_mobile {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }
    .footer_block {
        flex-direction: column-reverse;
        margin-top: -88px;
        background-color: var(--bg-grey-white);
        overflow: hidden;
    }

    .footer_map {
        margin-top: -40px;
        margin-left: -30px;
        width: 170%;
    }
}